extends base.pug

block content
    div
        p=video.description
        small=video.createdAt 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    //-absolute url and relative url
    //-'/'를 붙이게 되면 현재위치에 상관없이 root기준 하위로 이동 = aboslute url
    //-'/'가 없으면 현재위치에서 하위 경로 페이지로 이동 = realtive url
    